.background-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: url('/assets/img/puntos.jpg') no-repeat center center fixed;
    background-size: cover; */
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.3); /* Amarillo con opacidad */
}

